@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Bigelow+Rules&display=swap');

#main-qtmt{

  margin-top:10%
}

#quote-box {
  display:flex;
  flex-direction: column;
  
  justify-content: center;
  width:100%;
  font-family: 'Barlow';
  font-size: 32px;

  background-color: rgb(4, 174, 23);
 margin: 0px auto 0px auto;
 padding: 0px;
 
  
}

#author {
  margin: 5px auto 5px auto;

  width: 350px;
  padding: 50px;
  background-color: white;
 
  font-size: 32px;

  align-self:center;
}

#text {
  margin: 5px auto 5px auto;
  width: 350px;
  padding: 50px;
  font-size: 24px;
  background-color: beige;

  align-self:center;
  
}



#new-quote {
  background-color: white;
  color:rgb(0, 174, 23);
  margin: 5px auto 5px auto;
  width: 450px;
  padding: 30px;
  font-size: 32px;
  

  align-self:center;
  
  border:  solid 1px white;
}

#tweet-quote {
  
  margin: 5px auto 5px auto;
  background-color: rgb(24, 142, 233);
  font-size: 18px;
  
  color:white;
  padding:10px;

  border:  solid 1px white;
}
#footer { 
  display:flex;
  justify-content:center;
  font-family: 'Barlow';
  margin: 5px auto 5px auto;
  font-size:12px;
}