.panel-light {
    background-color: lightblue;

}
.panel-dark {
    background-color: darkblue;

}
.button-light {
    background-color: lightblue;

}
.button-dark {
   
    background-color: darkblue;

}